* @Azure/azure-verified-modules-tooling-contributors

/avm/ @Azure/azure-verified-modules-module-contributors

*avm.core.team.tests.ps1 @Azure/azure-verified-modules-tooling-contributors
*.e2eignore @Azure/azure-verified-modules-tooling-contributors
