node_modules
.netrc
moduleIndex.json
last-moduleIndex.json
generated-moduleIndex.json
.DS_Store
.idea
# Skip managedIdentity test in fork (permission limitations)
avm/res/document-db/database-account/tests/e2e/managedIdentity/.e2eignore
