name: "avm.template.module"

on:
  workflow_call:
    inputs:
      workflowInput:
        type: string
        description: "Input from the workflow caller in JSON format"
        required: true
      moduleTestFilePaths:
        type: string
        description: "List of relative path to the module test files in JSON format"
        required: true
      psRuleModuleTestFilePaths:
        type: string
        description: "List of relative path to the PSRule module test files in JSON format"
        required: true
      modulePath:
        type: string
        description: "Relative path to the module folder"
        required: true

env:
  # Used for token replacement steps in both PSRule and deployment validation
  ARM_MGMTGROUP_ID: "${{ secrets.ARM_MGMTGROUP_ID }}"
  TOKEN_NAMEPREFIX: "${{ secrets.TOKEN_NAMEPREFIX }}"
  CI_KEY_VAULT_NAME: "${{ vars.CI_KEY_VAULT_NAME }}"

jobs:
  #########################
  #   Static validation   #
  #########################
  job_module_static_validation: # Note: Please don't change this job name. It is used by the setEnvironment action to define which PS modules to install on runners.
    name: "Static validation"
    runs-on: ubuntu-latest
    if: (fromJson(inputs.workflowInput)).staticValidation == 'true'
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set environment
        uses: ./.github/actions/templates/avm-setEnvironment
      - name: "Run tests"
        uses: ./.github/actions/templates/avm-validateModulePester
        with:
          modulePath: "${{ inputs.modulePath }}"

  #########################
  #   PSRule validation   #
  #########################
  job_psrule_must: # Note: Please don't change this job name. It is used by the setEnvironment action to define which PS modules to install on runners.
    name: "Must [${{ matrix.baseline.friendlyName }}] on [${{ matrix.testCases.name }}] - Required PSRule"
    runs-on: ubuntu-latest
    if: ${{ inputs.psRuleModuleTestFilePaths != '' && (fromJson(inputs.workflowInput)).staticValidation == 'true'  }}
    strategy:
      fail-fast: false
      matrix:
        testCases: ${{ fromJson(inputs.psRuleModuleTestFilePaths) }}
        baseline:
          - friendlyName: Reliability
            baselineName: Azure.Pillar.Reliability
          - friendlyName: Custom Security
            baselineName: CB.AVM.WAF.Security
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set environment
        uses: ./.github/actions/templates/avm-setEnvironment
      - name: "Run Required PSRule validation with baseline [${{ matrix.baseline.friendlyName}}] on [${{ matrix.testCases.path }}]"
        uses: ./.github/actions/templates/avm-validateModulePSRule
        with:
          templateFilePath: "${{ inputs.modulePath }}/${{ matrix.testCases.path }}"
          managementGroupId: "${{ secrets.ARM_MGMTGROUP_ID }}"
          psrulePath: "/utilities/pipelines/staticValidation/psrule"
          psruleBaseline: ${{ matrix.baseline.baselineName }}
          softFailure: false

  job_psrule_opt: # Note: Please don't change this job name. It is used by the setEnvironment action to define which PS modules to install on runners.
    name: "Opt [${{ matrix.baseline.friendlyName }}] on [${{ matrix.testCases.name }}] - Optional PSRule"
    runs-on: ubuntu-latest
    if: ${{ inputs.psRuleModuleTestFilePaths != '' && (fromJson(inputs.workflowInput)).staticValidation == 'true'  }}
    strategy:
      fail-fast: false
      matrix:
        testCases: ${{ fromJson(inputs.psRuleModuleTestFilePaths) }}
        baseline:
          - friendlyName: All pillars
            baselineName: Azure.Default
          - friendlyName: Security
            baselineName: Azure.Pillar.Security
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set environment
        uses: ./.github/actions/templates/avm-setEnvironment
      - name: "Run Optional PSRule validation with baseline [${{ matrix.baseline.friendlyName }}] on [${{ matrix.testCases.path }}]"
        uses: ./.github/actions/templates/avm-validateModulePSRule
        with:
          templateFilePath: "${{ inputs.modulePath }}/${{ matrix.testCases.path }}"
          managementGroupId: "${{ secrets.ARM_MGMTGROUP_ID }}"
          psrulePath: "/utilities/pipelines/staticValidation/psrule"
          psruleBaseline: ${{ matrix.baseline.baselineName }}
          softFailure: true

  #############################
  #   Deployment validation   #
  #############################
  job_module_deploy_validation: # Note: Please don't change this job name. It is used by the setEnvironment action to define which PS modules to install on runners.
    name: "Deploy [${{ matrix.testCases.name}}]"
    environment: avm-validation
    runs-on: ubuntu-latest
    if: |
      !cancelled() &&
      (fromJson(inputs.workflowInput)).deploymentValidation == 'true' &&
      needs.job_module_static_validation.result != 'failure' &&
      needs.job_psrule_must.result != 'failure'
    needs:
      - job_module_static_validation
      - job_psrule_must
    strategy:
      fail-fast: false
      matrix:
        testCases: ${{ fromJson(inputs.moduleTestFilePaths) }}
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set environment
        uses: ./.github/actions/templates/avm-setEnvironment
        with:
          removeDeployment: "${{ fromJson(inputs.workflowInput).removeDeployment }}"
      - name: "Run deployment validation with test file [${{ matrix.testCases.path }}]"
        uses: ./.github/actions/templates/avm-validateModuleDeployment
        with:
          modulePath: "${{ inputs.modulePath }}"
          templateFilePath: "${{ inputs.modulePath }}/${{ matrix.testCases.path }}"
          deploymentMetadataLocation: "WestEurope"
          managementGroupId: "${{ secrets.ARM_MGMTGROUP_ID }}"
          removeDeployment: "${{ fromJson(inputs.workflowInput).removeDeployment }}"
          customLocation: "${{ fromJson(inputs.workflowInput).customLocation }}"
          e2eIgnore: "${{ matrix.testCases.e2eIgnore }}"
        env:
          AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }} # Still required for OIDC exception list
          VALIDATE_CLIENT_ID: ${{ secrets.VALIDATE_CLIENT_ID }}
          VALIDATE_SUBSCRIPTION_ID: ${{ secrets.VALIDATE_SUBSCRIPTION_ID }}
          VALIDATE_TENANT_ID: ${{ secrets.VALIDATE_TENANT_ID }}

  ##################
  #   Publishing   #
  ##################
  job_publish_module: # Note: Please don't change this job name. It is used by the setEnvironment action to define which PS modules to install on runners.
    name: "Publishing"
    runs-on: ubuntu-latest
    # Note: Below !cancelled() required in condition due to psrule jobs being skipped for ptn & utl modules not having defaults or waf-aligned folders
    if: |
      !cancelled() &&
      needs.job_module_static_validation.result == 'success' &&
      needs.job_module_deploy_validation.result == 'success' &&
      github.ref == 'refs/heads/main' &&
      github.repository	 == 'Azure/bicep-registry-modules'
    needs:
      - job_module_static_validation
      - job_module_deploy_validation
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set environment
        uses: ./.github/actions/templates/avm-setEnvironment
      - name: "Publishing"
        uses: ./.github/actions/templates/avm-publishModule
        with:
          templateFilePath: "${{ inputs.modulePath }}/main.bicep"
        env:
          PUBLISH_REGISTRY_SERVER: "${{ secrets.PUBLISH_REGISTRY_SERVER }}"
          PUBLISH_CLIENT_ID: "${{ secrets.PUBLISH_CLIENT_ID }}"
          PUBLISH_TENANT_ID: "${{ secrets.PUBLISH_TENANT_ID }}"
          PUBLISH_SUBSCRIPTION_ID: "${{ secrets.PUBLISH_SUBSCRIPTION_ID }}"
