name: On pull request

on:
  pull_request:
    branches:
      - main

jobs:
  get-module-to-validate:
    # TODO: switch to relative path once https://github.com/github/feedback/discussions/10679 is fixed.
    uses: Azure/bicep-registry-modules/workflows/get-changed-module.yml@main

  validate-module-files:
    runs-on: ubuntu-latest
    needs: get-module-to-validate
    if: needs.get-module-to-validate.outputs.module_dir
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.x

      # TODO: remove once brm is published
      - name: Download Bicep registry module tool
        run: |
          echo default login ${{ secrets.GITHUB_USERNAME }} password ${{ secrets.GITHUB_TOKEN }} > .netrc
          mkdir -p tools/packages
          curl --netrc-file .netrc -L -o tools/packages.zip https://api.github.com/repos/Azure/bicep/actions/artifacts/156705318/zip
          7z x tools/packages.zip -o./tools/packages

      - name: Install Bicep registry module tool
        run: dotnet tool install -g --add-source ./tools/packages Bicep.RegistryModuleTool --prerelease

      - name: Validate module files
        run: brm validate
        working-directory: ${{ needs.get-module-to-validate.outputs.module_dir }}
