# Workflow for notifying and assigning issues on creation
name: .Platform - Set GitHub issue owner config

on:
  issues:
    types: [opened]
  schedule:
    - cron: "0 0 * * 0" # Every sunday at 0 am
  workflow_dispatch:
    inputs:
      issueNumber:
        type: string
        description: "Specific issue to process"
        required: false
        default: ""
      whatIf:
        type: boolean
        description: "Simulate execution"
        required: false
        default: false

env:
  workflowPath: ".github/workflows/platform.set-avm-github-issue-owner-config.yml"

jobs:
  job_initialize_pipeline:
    runs-on: ubuntu-latest
    name: "Initialize pipeline"
    if: ${{ !cancelled() && !(github.repository != 'Azure/bicep-registry-modules' && github.event_name != 'workflow_dispatch') }}
    steps:
      - name: "Checkout"
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: "Set input parameters to output variables"
        id: get-workflow-param
        uses: ./.github/actions/templates/avm-getWorkflowInput
        with:
          workflowPath: "${{ env.workflowPath}}"
    outputs:
      workflowInput: ${{ steps.get-workflow-param.outputs.workflowInput }}
      issueNumber: ${{ steps.get-workflow-param.outputs.issueNumber }}
  SetAvmGitHubIssueOwnerConfig:
    name: Set-AvmGitHubIssueOwnerConfig
    runs-on: ubuntu-latest
    permissions:
      issues: write
    needs:
      - job_initialize_pipeline
    steps:
      - name: "Checkout"
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/create-github-app-token@v2
        id: generate-token
        with:
          app-id: ${{ secrets.TEAM_LINTER_APP_ID }}
          private-key: ${{ secrets.TEAM_LINTER_PRIVATE_KEY }}
      - name: "Run scripts"
        shell: pwsh
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
        run: |
          # Load used functions
          . (Join-Path $env:GITHUB_WORKSPACE 'utilities' 'pipelines' 'platform' 'Set-AvmGitHubIssueOwnerConfig.ps1')

          $functionInput = @{
            RepositoryOwner = "${{ github.repository_owner }}"
            RepositoryName  = "${{ github.event.repository.name }}"
            RepoRoot        = $env:GITHUB_WORKSPACE
            WhatIf          = [System.Convert]::ToBoolean((('${{ needs.job_initialize_pipeline.outputs.workflowInput }}') | ConvertFrom-Json).whatIf)
          }

          if(-not [String]::IsNullOrEmpty('${{ needs.job_initialize_pipeline.outputs.issueNumber }}')) {
            $functionInput += @{
              IssueUrl = "https://github.com/${{ github.repository_owner }}/${{ github.event.repository.name }}/issues/${{ needs.job_initialize_pipeline.outputs.issueNumber }}"
            }
          }

          if('${{ github.event_name}}' -eq 'issues') {
            $functionInput += @{
              IssueUrl = "${{ github.event.issue.url }}"
            }
          }

          Write-Verbose "Invoke task with" -Verbose
          Write-Verbose ($functionInput | ConvertTo-Json | Out-String) -Verbose

          Set-AvmGitHubIssueOwnerConfig @functionInput
