name: ".Platform - Run CI tests"

on:
  workflow_dispatch:

env:
  workflowPath: ".github/workflows/platform.ci-tests.yml"

jobs:
  test_classic:
    runs-on: ubuntu-latest
    name: "Run CI tests"
    steps:
      - name: "Checkout"
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set environment
        uses: ./.github/actions/templates/avm-setEnvironment

      - name: Run CI tests
        id: pester_run_step
        uses: azure/powershell@v2
        with:
          inlineScript: |
            # Load used functions
            . (Join-Path $env:GITHUB_WORKSPACE 'utilities' 'tools' 'Set-AVMModuleClassic.ps1')

            $inputObject = @{
              ModuleFolderPath       = (Join-Path $env:GITHUB_WORKSPACE 'avm')
              SkipFileAndFolderSetup = $true
              SkipVersionCheck       = $true
              Recurse                = $true
            }

            $StartTime = Get-Date
            Set-AVMModuleClassic @inputObject
            $ElapsedTime = (Get-Date) - $StartTime
            $TotalTime = '{0:HH:mm:ss}' -f ([datetime]$ElapsedTime.Ticks)
            Write-Verbose ("Execution took [$TotalTime]") -Verbose

            git diff --stat --diff-filter=AM
          azPSVersion: "latest"

  test_rpc:
    runs-on: ubuntu-latest
    name: "Run CI tests"
    steps:
      - name: "Checkout"
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set environment
        uses: ./.github/actions/templates/avm-setEnvironment

      - name: Run CI tests
        id: pester_run_step
        uses: azure/powershell@v2
        with:
          inlineScript: |
            # Load used functions
            . (Join-Path $env:GITHUB_WORKSPACE 'utilities' 'tools' 'Set-AVMModule.ps1')

            $inputObject = @{
              ModuleFolderPath       = (Join-Path $env:GITHUB_WORKSPACE 'avm')
              SkipFileAndFolderSetup = $true
              SkipVersionCheck       = $true
              Recurse                = $true
            }

            $StartTime = Get-Date
            Set-AVMModuleClassic @inputObject
            $ElapsedTime = (Get-Date) - $StartTime
            $TotalTime = '{0:HH:mm:ss}' -f ([datetime]$ElapsedTime.Ticks)
            Write-Verbose ("Execution took [$TotalTime]") -Verbose

            git diff --stat --diff-filter=AM
          azPSVersion: "latest"

  test_rpc_async:
    runs-on: ubuntu-latest
    name: "Run CI tests"
    steps:
      - name: "Checkout"
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set environment
        uses: ./.github/actions/templates/avm-setEnvironment

      - name: Run CI tests
        id: pester_run_step
        uses: azure/powershell@v2
        with:
          inlineScript: |
            # Load used functions
            . (Join-Path $env:GITHUB_WORKSPACE 'utilities' 'tools' 'Set-AVMModule.ps1')

            $inputObject = @{
              ModuleFolderPath       = (Join-Path $env:GITHUB_WORKSPACE 'avm')
              SkipFileAndFolderSetup = $true
              SkipVersionCheck       = $true
              Recurse                = $true
              Async                  = $true
            }

            $StartTime = Get-Date
            Set-AVMModuleClassic @inputObject
            $ElapsedTime = (Get-Date) - $StartTime
            $TotalTime = '{0:HH:mm:ss}' -f ([datetime]$ElapsedTime.Ticks)
            Write-Verbose ("Execution took [$TotalTime]") -Verbose

            git diff --stat --diff-filter=AM
          azPSVersion: "latest"
