name: Upload modules metadata
on:
  pull_request:
    branches:
      - main
  workflow_call:
    secrets:
      # Secrets must be passed from the caller workflow explicitly.
      CLIENT_ID:
        required: true
      TENANT_ID:
        required: true
      SUBSCRIPTION_ID:
        required: true
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install packages
        run: npm ci

      - name: Upload modules metadata
        uses: actions/github-script@v6
        with:
          result-encoding: string
          script: |
            const script = require("./scripts/github-actions/upload-modules-metadata.js")
            await script(core)

      - name: Upload modules metadata
        uses: actions/upload-artifact@v3
        with:
          name: modulesMetadata.json
          path: modulesMetadata.json

      - name: Log in to Azure
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.CLIENT_ID }}
          tenant-id: ${{ secrets.TENANT_ID }}
          subscription-id: ${{ secrets.SUBSCRIPTION_ID }}

      - name: Upload to blob storage
        uses: azure/CLI@v1
        with:
          inlineScript: |
            az storage blob upload --account-name biceplivedatasaprod --container-name bicep-cdn-live-data-container --name modulesMetadata --file modulesMetadata.json --auth-mode login --overwrite
